@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* -----FONTS----- */
.navLink div::after,
.navLink div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  background: #000515;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}
.navLink div::before {
  width: 0;
  transform-origin: right;
}
.navLink div:hover::after {
  width: 50%;
  left: 0;
}
.navLink div:hover:before {
  width: 50%;
  left: 50%;
}

/* -----TEXT-STROKE----- */
.text-stroke-dark {
 -webkit-text-stroke: 2px #000515 ; 
}