@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----FONTS----- */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins.ttf");
}
@font-face {
  font-family: "Cal Sans", sans-serif;
  src: url("../fonts/Cal-Sans.ttf");
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-cal-sans {
  font-family: "Cal Sans", sans-serif;
}

.navLink div::after,
.navLink div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  background: #000515;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}
.navLink div::before {
  width: 0;
  transform-origin: right;
}
.navLink div:hover::after {
  width: 50%;
  left: 0;
}
.navLink div:hover:before {
  width: 50%;
  left: 50%;
}
